body {
    background: url('./src/page2_background.jpg') no-repeat top / contain;
    bottom: 0;
    
    top: 0;
    margin: 0;
    height: 740px;
  }
#setter{
  background-image:url(./src/Setter.png);
  background-size: cover;
  z-index: -1;
  width: 7.095vw;
  height: 21.12vw;
  background-color:transparent;
  position: relative;
  top: 20vw;
  left: 39vw;
  border:none;
}
#libero{
    background-image:url(./src/Libero.png);
    background-size: cover;
    z-index: -1;
    width: 9.845vw;
    height: 6.93vw;
    background-color:transparent;
    position: relative;
    top: 6.2vw;
    left: 44.2vw;
    border:none;
}
#middle{
    background-image:url(./src/Middle.png);
    background-size: cover;
    z-index: -1;
    width: 8.417vw;
    height: 14.63vw;
    background-color:transparent;
    position: relative;
    top: 19.5vw;
    left: 44.1vw;
    border:none;
}
#hitter{
    background-image:url(./src/Hitter.png);
    background-size: cover;
    z-index: -1;
    width: 11.65vw;
    height: 16.6vw;
    background-color:transparent;
    position: relative;
    top: 16vw;
    left: 51vw;
    border:none;
}